body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #181818;
  color: #fafafa;
  overflow: auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.blog-goodbye {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.new-section-goodbye {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
}

.theta-ad {
  cursor: pointer;
}